{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'src/style.css' %}">
    <title>Home</title>
</head>

<body class="bg-slate-900">
    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center justify-start">
                    <a href="/" class="flex mr-4">
                        <img src="{% static 'favicon.png' %}" class="h-8" alt="Logo" />
                    </a>
                    <form action="#" method="GET" class="hidden lg:block lg:pl-2">
                        <label for="topbar-search" class="sr-only">Search</label>
                        <div class="relative mt-1 lg:w-96">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input type="text" name="search" id="topbar-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="flex items-center lg:order-2">
                    <a href="/newpost"
                        class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </a>
                    <button id="toggleSidebarMobileSearch" type="button"
                        class="p-2 text-gray-500 rounded-lg lg:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Search</span>
                        <!-- Search icon -->
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Notifications -->
                    <button type="button" data-dropdown-toggle="notification-dropdown"
                        class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <span class="sr-only">View notifications</span>
                        <!-- Bell icon -->
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z">
                            </path>
                        </svg>
                    </button>

                    <!-- Apps -->
                    <button type="button" data-dropdown-toggle="apps-dropdown"
                        class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <span class="sr-only">View notifications</span>
                        <!-- Icon -->
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                            </path>
                        </svg>
                    </button>
                    <!-- User Dropdown -->
                    <div class="">
                        <div class="relative inline-block dropdown">
                            <button
                                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                                <span class="sr-only">Open user menu</span>
                                <img class="w-8 h-8 rounded-full" src="{{user_profile.profileimg.url}}"
                                    alt="user photo">
                            </button>
                            <ul
                                class="absolute hidden pt-3 text-gray-500 bg-white rounded-lg shadow-2xl -left-28 dark:bg-gray-800 dark:text-gray-400 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 dropdown-menu">
                                <li class=""><label
                                        class="block px-4 py-2 whitespace-no-wrap rounded-t">{{user_profile.user}}</a>
                                </li>
                                <li class=""><a class="block px-4 py-2 whitespace-no-wrap rounded-t hover:bg-gray-600"
                                        href="/settings">Account Settings</a></li>
                                <li class=""><a class="block px-4 py-2 whitespace-no-wrap hover:bg-gray-600"
                                        href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <style>
                        .dropdown:hover .dropdown-menu {
                            display: block;
                        }
                    </style>
                </div>
            </div>
        </nav>
    </header>
    <!-- Feed -->
    <div class="flex flex-row justify-around">
        <div class="flex flex-col self-start flex-grow-0 px-4 py-5 mt-5 md:p-5 gap-x-6 rounded-xl bg-slate-700"
            id="{{post.id}}">
            <!-- Top -->
            <div class="flex flex-col justify-between md:flex-row">
                <div class="flex pb-2 gap-x-4 md:pb-0">
                    <img class="flex-none w-12 h-12 rounded-full bg-gray-50" src="{{post.author.profileimg.url}}"
                        alt="">
                    <div class="flex-auto min-w-0">
                        <p class="text-sm font-semibold leading-6 text-slate-50">{{post.author}}</p>
                        <p class="mt-1 text-xs leading-5 truncate text-slate-300">2 hrs</p>
                    </div>
                </div>

                <div class="flex rounded-md" role="group">
                    <a href="#_" class="flex py-4 mr-1 text-sm text-white rounded-md hover:bg-gray-800 px-7">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path
                                d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                        </svg>&nbsp {{post.no_of_likes}}
                    </a>
                    <!-- <a href="#_" class="flex py-4 mr-1 text-sm text-white rounded-md hover:bg-gray-800 px-7">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd"
                            d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902 1.168.188 2.352.327 3.55.414.28.02.521.18.642.413l1.713 3.293a.75.75 0 001.33 0l1.713-3.293a.783.783 0 01.642-.413 41.102 41.102 0 003.55-.414c1.437-.231 2.43-1.49 2.43-2.902V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zM6.75 6a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 2.5a.75.75 0 000 1.5h3.5a.75.75 0 000-1.5h-3.5z"
                            clip-rule="evenodd" />
                    </svg>&nbsp {{post.no_of_comments}}
                </a> -->
                    <a href="#_" class="flex py-4 mr-1 text-sm text-white rounded-md hover:bg-gray-800 px-7">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path
                                d="M13 4.5a2.5 2.5 0 11.702 1.737L6.97 9.604a2.518 2.518 0 010 .792l6.733 3.367a2.5 2.5 0 11-.671 1.341l-6.733-3.367a2.5 2.5 0 110-3.475l6.733-3.366A2.52 2.52 0 0113 4.5z" />
                        </svg>&nbsp Share
                    </a>
                </div>

            </div>
            <!-- Text -->
            <div class="flex gap-x-4 md:pt-5">
                <p class="text-lg font-semibold text-slate-50">{{post.title}} </p>
            </div>
            <div class="flex gap-x-4 md:pt-5">
                <p class="text-slate-50">{{post.content}} </p>
            </div>
            <!-- Images -->
            {% if post.image %}
            <figure class="max-w-xl pt-3">
                <img class="h-auto max-w-xs md:max-w-xl" src="{{post.image.url}}">
                <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">{{post.caption}}
                </figcaption>
            </figure>
            {% endif %}
        </div>
        <div class="flex flex-col self-center justify-center p-3">
            <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="postId" value="{{post.id}}">
                <div
                    class="w-full my-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                    <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                        <textarea id="content" rows="4" name="content"
                            class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                            placeholder="..." required></textarea>
                    </div>
                    <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                        <button type="submit"
                            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                            Submit Comment
                        </button>
                    </div>
                </div>
            </form>

            {% for comment in comments %}
            <div class="flex px-4 py-5 mt-5 md:p-5 gap-x-6 rounded-xl bg-slate-700" id="{{comment.id}}">
                <div class="flex flex-col">
                    <img class="flex-none w-12 h-12 rounded-full bg-gray-50" src="{{comment.author.profileimg.url}}"
                        alt="">
                    <p class="text-sm font-semibold leading-6 text-slate-50">{{comment.author}}</p>
                </div>
                <div class="flex flex-col justify-between ">
                    <div class="flex-auto min-w-0">
                        <p class="mt-1 text-xs leading-5 truncate text-slate-300">2 hrs</p>
                    </div>
                    <div class="flex-auto min-w-0">
                        <p class="mt-1 font-medium leading-5 truncate text-slate-50">{{comment.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
</body>

</html>