{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'src/style.css' %}">
    <title>Home</title>
</head>

<body class="bg-slate-900">
    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center justify-start">
                    <a href="/" class="flex mr-4">
                        <img src="{% static 'favicon.png' %}" class="h-8" alt="Logo" />
                    </a>
                    <form action="#" method="GET" class="hidden lg:block lg:pl-2">
                        <label for="topbar-search" class="sr-only">Search</label>
                        <div class="relative mt-1 lg:w-96">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input type="text" name="search" id="topbar-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="flex items-center lg:order-2">
                    <a href="/newpost"
                        class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </a>
                    <button id="toggleSidebarMobileSearch" type="button"
                        class="p-2 text-gray-500 rounded-lg lg:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Search</span>
                        <!-- Search icon -->
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Notifications -->
                    <button type="button" data-dropdown-toggle="notification-dropdown"
                        class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <span class="sr-only">View notifications</span>
                        <!-- Bell icon -->
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z">
                            </path>
                        </svg>
                    </button>

                    <!-- Apps -->
                    <button type="button" data-dropdown-toggle="apps-dropdown"
                        class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <span class="sr-only">View notifications</span>
                        <!-- Icon -->
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                            </path>
                        </svg>
                    </button>
                    <!-- User Dropdown -->
                    <div class="">
                        <div class="relative inline-block dropdown">
                            <button
                                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                                <span class="sr-only">Open user menu</span>
                                <img class="w-8 h-8 rounded-full"
                                    src="{{user_profile.profileimg.url}}" alt="user photo">
                            </button>
                            <ul
                                class="absolute hidden pt-3 text-gray-500 bg-white rounded-lg shadow-2xl -left-28 dark:bg-gray-800 dark:text-gray-400 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 dropdown-menu">
                                <li class=""><a class="block px-4 py-2 whitespace-no-wrap rounded-t hover:bg-gray-600"
                                        href="#">Account Settings</a></li>
                                <li class=""><a class="block px-4 py-2 whitespace-no-wrap hover:bg-gray-600"
                                        href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <style>
                        .dropdown:hover .dropdown-menu {
                            display: block;
                        }
                    </style>
                </div>
            </div>
        </nav>
    </header>
    <!-- Feed -->
    <div class="p-10">
        <div class="flex flex-col p-5 gap-x-6 rounded-xl bg-slate-700">
            <span id="message" class="p-3 ">
                {% for message in messages %}
                {{message}}
                {% endfor %}
            </span>
            <h1 class="p-3 text-2xl text-gray-100 ">Account Settings</h1>
            <form class="space-y-4 md:space-y-6 md:w-1/3p" action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="p-3">
                    <input type="file" accept="image/*" name="profilepic" id="profilepic" style="display: none;"
                        onchange="loadFile(event)">
                    <label for="profilepic" class="text-sm font-medium text-gray-900 cursor-pointer dark:text-gray-400">
                    <img id="profilepics" width="200" class="rounded-full hover:border-2 hover:border-slate-50" src="{{user_profile.profileimg.url}}" /></label>
                </div>
                <div class="flex flex-row p-3">
                    <div class="flex flex-col pr-2">
                        <label for="f_name" class="text-sm font-medium text-gray-900 dark:text-gray-400">First
                            Name</label>
                        <input type="f_name" name="f_name" id="f_name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 "
                            value="{{user_profile.first_name}}" required="">
                    </div>
                    <div class="flex flex-col">
                        <label for="l_name" class="text-sm font-medium text-gray-900 dark:text-gray-400">Last
                            Name</label>
                        <input type="l_name" name="l_name" id="l_name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="{{user_profile.last_name}}" required="">
                    </div>
                </div>
                <!-- <div class="p-3">
                    <label for="email" class="text-sm font-medium text-gray-900 dark:text-gray-400">Email</label>
                    <input type="email" name="email" id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Email id" required="">
                </div> -->
                <div class="p-3">
                    <label for="username" class="text-sm font-medium text-gray-900 dark:text-gray-400">Username</label>
                    <input type="text" name="username" id="username"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        value="{{user_profile.user}}" required="">
                </div>
                <div class="p-3">
                    <label for="password" class="text-sm font-medium text-gray-900 dark:text-gray-400">Password</label>
                    <input type="password" name="password" id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="********">
                </div>
                <div class="p-3">
                    <label for="bio" class="text-sm font-medium text-gray-900 dark:text-gray-400">Bio</label>
                    <textarea id="bio" name="bio" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write about yourself here...">{{user_profile.bio}}</textarea>
                </div>
                <div class="p-3">
                    <label for="location" class="text-sm font-medium text-gray-900 dark:text-gray-400">Location</label>
                    <input type="text" name="location" id="location"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        value="{{user_profile.location}}">
                </div>
                <button type="submit" id="submit" href="#_"
                    class="text-center w-full px-5 py-2.5 relative rounded group font-medium text-white inline-block">
                    <span
                        class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-slate-600 to-slate-500"></span>
                    <span
                        class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br filter group-active:opacity-0 rounded opacity-50 from-slate-600 to-slate-500"></span>
                    <span
                        class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-slate-600 to-slate-500"></span>
                    <span
                        class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-slate-600 from-slate-500"></span>
                    <span class="relative">Save</span>
                </button>
            </form>
        </div>
    </div>
    <!-- Image Script -->
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('profilepics');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</body>

</html>